

.profil:hover {
	background-color: #F5F5F5;
}


.section-title .log-add {
	color: rgba(52, 73, 94, 0.3);
	/*padding: 5px;*/
	/*width: 40px;*/
	text-align: center;
	display: inline-block;
	font-size: 25px;
	transition: all 250ms;
}

.section-title .log-add i {
	vertical-align: middle;
}

.section-title .log-add:hover {
	color: rgba(52, 73, 94, 1);
	/*background-color: rgba(174, 178, 182, 0.1)*/
}

.section-infos td {
	padding-right: 30px;
}



/*** Perf Card ***/
.perf-card {
	position: relative;
	float: left;
	color: #fff;
	border-radius: 6px;
	width: 150px;
	height: 100px;
	margin-right: 10px;
}

.perf-card-title {
	font-size: 20px;
	font-weight: bold;
}

.perf-card-valeur {
	text-align: center;
	padding-top: 5px;
	font-size: 24px;
}

.perf-card.cpu {
	background-color: #415b76;
	border-color: #415b76;
}

.perf-card.ram {
	background-color: #48c9b0;
	border-color: #48c9b0;
}

.perf-card-title {
	text-align: center;
}

/*** Logs ***/

.log {
	width: 100%;
	padding-left: 10px;
	border-radius: 6px;
	height: 50px;
	line-height: 50px;
	margin-bottom: 10px;
	color: #FFF;
}

.log-label-project {
	font-weight: bold;
	font-size: 18px;
}

.log-label-subtitle {
	font-size: 14px;
}

.log-buttons {
	position: relative;
	float: right;
}

.log-buttons .log-btn {
	color: #FFF;
	display: inline-block;
	font-size: 24px;
	text-align: center;
	width: 50px;
	height: 50px;
	transition: all 250ms;
}

.log-buttons .log-btn:last-child {
	border-radius: 0 6px 6px 0;
}


.log-buttons .log-btn i {
	vertical-align: middle;
}

/*** Base de données ***/
.database-container {
	position: relative;
	float: left;
	width: 25%;
	padding: 10px;
}


.database {
	border-radius: 6px;
	height: 120px;
	position: relative;
}

.database-title {
	text-align: center;
	font-weight: bold;
	font-size: 26px;
	color: #FFF;
	padding: 5px;
	padding-top: 15px;
}

.database-buttons {
	position: absolute;
	bottom: 0;
	width: 100%;
	font-size: 0;
}

.database-btn {
	color: #FFF !important;
	display: inline-block;
	font-size: 24px;
	text-align: center;
	height: 50px;
	transition: all 250ms;
	width: 50%;
}

.database-btn.fourth {
	width: 25% !important;
}

.database-btn:first-child {
	border-radius: 6px 0 0 6px;
}

.database-btn:last-child {
	border-radius: 0 6px 6px 0;
}



/*** Edit log ***/

@keyframes showeditlog {
	0% {
		height: 0px;
		opacity: 0;
	}

	50% {
		height: 231px;
	}

	100% {
		opacity: 1;
	}
}

@keyframes showeditdatabase {
	0% {
		height: 0px;
		opacity: 0;
	}

	50% {
		height: 411px;
	}

	100% {
		opacity: 1;
	}
}

.edit-log {
	margin-bottom: 20px;
	padding-top: 7px;
	height: 231px;
	animation-name: showeditlog;
	animation-duration: 500ms;
}

.edit-db {
	margin-bottom: 20px;
	padding-top: 7px;
	height: 411px;
	animation-name: showeditdatabase;
	animation-duration: 500ms;
}

.edit-log-title,
.edit-db-title {
	font-size: 24px;
	border-bottom: 1px solid #34495E;
}

.edit-log-content,
.edit-db-content {
	width: 100%;
	padding-top: 10px;
}

.edit-log-content table,
.edit-db-content table {
	width: 100%;
}

.edit-log-content table td,
.edit-log-content table th,
.edit-db-content table td,
.edit-db-content table th {
	padding: 8px;
	vertical-align: bottom;
}

.edit-log-content table td:first-child,
.edit-log-content table th:first-child,
.edit-db-content table td:first-child,
.edit-db-content table th:first-child {
	padding-left: 0;
}

.edit-log-content table td:last-child,
.edit-log-content table th:last-child,
.edit-db-content table td:last-child,
.edit-db-content table th:last-child {
	padding-right: 0;
}

.edit-log-content table input,
.edit-log-content table select,
.edit-db-content table input,
.edit-db-content table select {
	height: 45px;
}
