html, body {
	background-color: #FFF;
}

.clear {
	clear: both;
}

.header {
	width: 100%;
	position: relative;
}

.profil {
	padding: 5px;
	color: #34495e;
	transition: all 250ms;
}

.profil:hover {
	background-color: #F5F5F5;
}

.content {
	width: 1080px;
	margin: auto;
}

.section {
	margin-bottom: 30px;
}

.section-title {
	font-size: 30px;
	border-bottom: 1px solid #34495e;
}

.section-title .log-add {
	color: rgba(52, 73, 94, 0.3);
	/*padding: 5px;*/
	/*width: 40px;*/
	text-align: center;
	display: inline-block;
	font-size: 25px;
	transition: all 250ms;
}

.section-title .log-add i {
	vertical-align: middle;
}

.section-title .log-add:hover {
	color: rgba(52, 73, 94, 1);
	/*background-color: rgba(174, 178, 182, 0.1)*/
}

.section-infos td {
	padding-right: 30px;
}

.section-content {
	padding-top: 10px;
}

/*** Perf Card ***/
.perf-card {
	position: relative;
	float: left;
	color: #fff;
	border-radius: 6px;
	width: 150px;
	height: 100px;
	margin-right: 10px;
}

.perf-card-title {
	font-size: 20px;
	font-weight: bold;
}

.perf-card-valeur {
	text-align: center;
	padding-top: 5px;
	font-size: 24px;
}

.perf-card.cpu {
	background-color: #415b76;
	border-color: #415b76;
}

.perf-card.ram {
	background-color: #48c9b0;
	border-color: #48c9b0;
}

.perf-card-title {
	text-align: center;
}

/*** Logs ***/

.log {
	width: 100%;
	padding-left: 10px;
	border-radius: 6px;
	height: 50px;
	line-height: 50px;
	margin-bottom: 10px;
	color: #FFF;
}

.log-label-project {
	font-weight: bold;
	font-size: 18px;
}

.log-label-subtitle {
	font-size: 14px;
}

.log-buttons {
	position: relative;
	float: right;
}

.log-buttons .log-btn {
	color: #FFF;
	display: inline-block;
	font-size: 24px;
	text-align: center;
	width: 50px;
	height: 50px;
	transition: all 250ms;
}

.log-buttons .log-btn:last-child {
	border-radius: 0 6px 6px 0;
}


.log-buttons .log-btn i {
	vertical-align: middle;
}

/** Theme **/
/* Bleu */
.log.blue {
	background-color: #2980B9;
}

.log.blue .log-btn:hover {
	background-color: #2A72A1;
}

/* Orange*/
.log.orange {
	background-color: #F39C12;
}

.log.orange .log-btn:hover {
	background-color: #D98C10;
}

/* Rouge */
.log.red {
	background-color: #E74C3C;
}

.log.red .log-btn:hover {
	background-color: #CD4435;
}

/* Violet */
.log.purple {
	background-color: #9B59B6;
}

.log.purple .log-btn:hover {
	background-color: #854D9C;
}

/* Gris */
.log.grey {
	background-color: #95A5A6;
}

.log.grey .log-btn:hover {
	background-color: #7E8C8C;
}

/* Vert */
.log.green {
	background-color: #27AE60;
}

.log.green .log-btn:hover {
	background-color: #219452;
}