.serveur-container {
	position: relative;
	float: left;
	width: 25%;
	padding: 10px;
}

.serveur {
	display: block;
	border-radius: 6px;
	height: 120px;
	position: relative;
	cursor: pointer;
	color: #FFF;
	text-align: center;
	line-height: 90px;
	font-size: 24px;
	background-color: #415b76;
}

.serveur:hover,
.serveur:active {
	color: #FFF;
}

.page-title {
	text-align: center;
	font-size: 32px;
}

.page-title .back {
	float: left;
	transition: all 250ms;
}


.table-infos {
	width: 50%;
}

.serveur-save-message {
	animation-name: fadeOut;
	animation-duration: 6s;
	opacity: 0;
}

.serveur-save-message.success {
	color: #2ECC71;
}

.serveur-save-message.error {
	color: #E74C3C;
}

.table-monitoring {
	width: 100%;
}

.table-monitoring td {
	width: 50%;
	padding: 10px;
}

.table-monitoring canvas {
	width: 540px;
	max-width: 540px;
	height: 400px;
	max-height: 400px;
}