<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="iZyGrid.ExternalDLLName" value="Activa_FW"></add>
    <add key="iZyGrid.ExternalDLLNamespace" value="Activa_FW"></add>
    <add key="iZyGrid.MySqlConnectionString" value="server=localhost;user id=activa;password=activa;persist security info=True;database=activa;allow user variables=true"></add>
    <add key="iZyGrid.GridViewCSSClass" value="styled_grid"></add>
    <add key="iZyGrid.DebugFilePath" value="D:\Activa_Extras\log\iZyGridDebugFilePath.txt"></add>
    <add key="iZyGrid.AlternatingRowStyleCSSClass" value="styled_grid_alternatingRow"></add>
    <add key="iZyGrid.FooterTDCSSClass" value="styled_grid_footer"></add>
    <add key="iZyGrid.PreviousIcon" value="/img/previous.png"></add>
    <add key="iZyGrid.NextIcon" value="/img/next.png"></add>
    <add key="iZyGrid.FooterPageUnselectedCSSClass" value="styled_grid_footer_page"></add>
    <add key="iZyGrid.FooterPageSelectedCSSClass" value="styled_grid_footer_page_selected"></add>
    <add key="iZyGrid.FooterPageUnselectedColor" value="#616163 !important"></add>
    <add key="iZyGrid.FooterPageSelectedColor" value="#EA6E2B !important"></add>
    <add key="iZyGrid.SortArrowDownTag" value="&lt;img border='0' src='/img/arrowDown-icon.png' / &gt;"></add>
    <add key="iZyGrid.SortArrowUpTag" value="&lt;img border='0' src='/img/arrowUp-icon.png' /&gt;"></add>
    <add key="iZyGrid.PrefixCookie" value="AF"></add>
    <add key="iZyGrid.CookieDuration" value="24"></add>
    <add key="iZyGrid.ExcelIcon" value="~/img/excel-icon.png"></add>
    <add key="iZyGrid.ColumnDialogCSSClass" value="iZyGridContextMenu"/>
	  <add key="iZyGrid.SessionKeyForGridViewDatabaseParametersKey" value="GridviewUserIdKey"/>
    <add key="iZyGridSearch.TextBoxCssClass" value="textbox"/>
    <add key="iZyGridSearch.TextBoxWidth" value="650px"/>
    <add key="iZyGridSearch.ImageUrl" value="~/img/search.png"/>
    <add key="iZyGridSearch.ImageStyle" value="margin-left:2px;border-width:0px;vertical-align:middle;"/>
    <add key="iZyGridSearch.ImageUndoUrl" value="~/img/undo-icon.png"/>
    <add key="iZyGridSearch.ImageUndoStyle" value="border-width:0px;vertical-align:middle;"/>
    <add key="iZyGrid.DebugFilePath" value="D:\Activa\log\ErrorGridView.txt"/>
    <add key="iZySwitch.ContainerCSSClass" value="switch-options"/>
    <add key="iZySwitch.OptionCSSClass" value="switch-option"/>
    <add key="iZySwitch.SelectedOptionCSSClass" value="switch-option-selected"/>
  </appSettings>
</configuration>